app-contact {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 5vh 0 0 0;

  .info-text {
    color: var(--background);
    padding: 10px 0px;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: -webkit-center;
    width: 100%;
    background: var(--white);
  }

  .social-wrapper {
    flex-flow: wrap;
    background: var(--white);
    place-content: center;
    display: flex;
  }

  .copyright {
    color: var(--primary);
    padding: 10px;
    font-size: smaller;
    width: -webkit-fill-available;
    background: var(--white);
    text-align-last: center;
  }

  app-custom-svg .icon {
    fill: var(--primary);
  }

  @media (max-width: 850px) {
    .info-text {
      font-size: unset;
    }

    app-custom-social-card {
      .border-btn {
        margin: 0.1rem;

        &__inner {
          a {
            span {
              display: none;
            }
          }
        }

        app-custom-svg {
          .icon {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }

  .custom-shape-divider-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 73px;
  }

  .custom-shape-divider-bottom .shape-fill {
    fill: var(--white);
  }
}
