@import "../../variables.scss";

app-contact {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 5vh 0 0 0;

  .info-text {
    color: $white;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .social-wrapper {
    flex-flow: wrap;
    place-content: center;
    display: flex;
  }

  .copyright {
    color: $primary;
    padding: 10px;
    font-size: smaller;
    text-align-last: center;
  }
}
