<div class="info-text">Let's be internet BFFs</div>
<div class="social-wrapper">
  <app-custom-social-card
    text="madalinaeleonora.gheorghe@gmail.com"
    type="email"
  ></app-custom-social-card>
  <app-custom-social-card
    text="/madalinaeleonorag"
    type="linkedin"
    link="https://www.linkedin.com/in/madalinaeleonorag/"
  ></app-custom-social-card>
  <app-custom-social-card
    text="/madalinaeleonorag"
    type="medium"
    link="https://madalinaeleonorag.medium.com/"
  ></app-custom-social-card>
  <app-custom-social-card
    text="/madalinaeleonorag"
    type="github"
    link="https://github.com/madalinaeleonorag"
  ></app-custom-social-card>
  <app-custom-social-card
    text="/madalinaeleonorag"
    type="instagram"
    link="https://www.instagram.com/madalinaeleonorag/"
  ></app-custom-social-card>
  <app-custom-social-card
    text="/madalinaeleonora"
    type="facebook"
    link="https://www.facebook.com/mdx.madalinaeleonora/"
  ></app-custom-social-card>
  <app-custom-social-card
    text="/madalinaeleonorag"
    type="paypal"
    link="https://www.paypal.com/paypalme/madalinaeleonorag"
  ></app-custom-social-card>
</div>
<div class="copyright">© Madalina-Eleonora Gheorghe 2021</div>
