@import "../../variables.scss";

app-contact {
  display: flex;
  flex-flow: column;
  align-items: center;

  .info-text {
    color: $primary;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .social-icons-wrapper {
    flex-flow: wrap;
    place-content: center;

    a {
      border: 1px solid $lightgray;
      display: flex;
      flex-flow: column;
      padding: 1vh;
      margin: 1vh;
      align-items: flex-end;

      span {
        color: $lightgray;
      }
    }
    a:hover {
      border: 1px solid $primary;

      .icon {
        fill: $primary;
      }
    }
  }

  .copyright {
    color: $primary;
    padding: 10px;
    font-size: smaller;
    text-align-last: center;
  }
}
