<div class="info-text">Let's be internet BFFs</div>
<div class="social-icons-wrapper">
  <a target="_blank" href="mailto:madalinaeleonora.gheorghe@gmail.com"
    ><app-custom-svg type="email"></app-custom-svg>
    <span>madalinaeleonora.gheorghe@gmail.com</span>
  </a>
  <a target="_blank" href="https://www.linkedin.com/in/madalinaeleonorag/"
    ><app-custom-svg type="linkedin"></app-custom-svg>
    <span>/madalinaeleonorag</span></a
  >
  <a target="_blank" href="https://madalinaeleonorag.medium.com/"
    ><app-custom-svg type="medium"></app-custom-svg>
    <span>/madalinaeleonorag</span>
  </a>
  <a target="_blank" href="https://github.com/madalinaeleonorag"
    ><app-custom-svg type="github"></app-custom-svg>
    <span>/madalinaeleonorag</span>
  </a>
  <a target="_blank" href="https://www.instagram.com/madalinaeleonorag/"
    ><app-custom-svg type="instagram"></app-custom-svg>
    <span>/madalinaeleonorag</span>
  </a>
  <a target="_blank" href="https://www.facebook.com/mdx.madalinaeleonora/"
    ><app-custom-svg type="facebook"></app-custom-svg>
    <span>/madalinaeleonora</span>
  </a>
  <a target="_blank" href="https://www.paypal.com/paypalme/madalinaeleonorag"
    ><app-custom-svg type="paypal"></app-custom-svg>
    <span>/madalinaeleonorag</span>
  </a>
</div>
<div class="copyright">© Madalina-Eleonora Gheorghe 2021</div>