@import "../../variables.scss";

app-education-level {
  .header {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 20px 0;

    .image {
      padding-right: 20px;

      img {
        max-width: 150px;
        height: auto;
      }
    }
    .summary {
      display: flex;
      flex-flow: column;

      .name {
        font-weight: bold;
        color: $gray;
      }
      .degree {
        font-weight: bold;
        font-size: 1.2rem;
        color: $primary;
        margin: 4px 0;
      }
      .date {
        font-weight: normal;
      }
      .fieldOfStudy {
        font-weight: normal;
        color: $lightgray;
      }
      .grade {
        color: $lightgray;
      }
    }
  }

  .description {
    line-height: 1.5rem;
  }

  @media (max-width: 800px) {
    .header {
      padding: 10px 0;
      
      .image {
        display: none;
      }

      .summary {
        .name {
          display: none;
        }
      }
    }
    .description {
      display: none;
    }
  }
}
