<div class="header">
  <div class="image">
    <img *ngIf="education.logo" src="{{ education.logo }}" />
  </div>
  <div class="summary">
    <div class="name">{{ education.school }}</div>
    <div class="degree">{{ education.degree }}</div>
    <div class="fieldOfStudy">{{ education.fieldOfStudy }}</div>
    <div class="date">{{ education.startYear }} - {{ education.endYear }}</div>
    <div class="grade" *ngIf="education.grade">Grade: {{ education.grade }}</div>
  </div>
</div>
<div class="activities" [innerHTML]="education.activities"></div>
<div class="description" [innerHTML]="education.description"></div>
