app-education-level {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2vh 2vw;
  text-align: -webkit-center;

  .image {
    img {
      max-width: 150px;
      height: auto;
    }
  }
  .summary {
    display: flex;
    flex-flow: column;

    .name {
      color: var(--lightgray);
    }

    .degree {
      font-weight: bold;
      font-size: 1.2rem;
      color: var(--primary);
      margin: 4px 0;
    }

    .date {
      font-weight: normal;
    }
  }

  @media (max-width: 800px) {
      .image {
        img {
          max-width: 70px;
        }
      }

      .fieldOfStudy, .name {
        display: none
      }
  }
}
