@import "../../variables.scss";

app-footer {
  display: flex;
  flex-flow: column;
  background-color: $black;
  align-items: center;

  .info-text {
    color: $lightgray;
    padding: 10px 0px;
    font-weight: bold;
    font-size: x-large;
  }

  .copyright {
    color: $gray;
    padding: 10px 0px;
    font-size: small;
  }

  .copyright:hover {
    color: $bordo;
  }
}
