<div class="header">
    <div class="image" *ngIf="course.logo">
      <img src="{{ course.logo }}" />
    </div>
    <div class="summary">
      <div class="organization" *ngIf="course.organization">{{ course.organization }}</div>
      <div class="name">{{ course.name }}</div>
      <div class="date" *ngIf="course.startYear && course.endYear">{{ course.startYear }} - {{ course.endYear }}</div>
    </div>
  </div>
  <div class="description" [innerHTML]="course.description" *ngIf="course.description"></div>
