<div class="links">
  <a href="#">Home</a>
  <a href="#">Projects</a>
  <a href="#">Skills</a>
  <a href="#">Experience</a>
  <a href="#">Contact</a>
</div>
<div class="social-icons-wrapper">
  <a target="_blank" href="https://madalinaeleonorag.medium.com/"
    ><img class="social-icon" src="./../../../assets/social-icons/medium.png"
  /></a>
  <a target="_blank" href="https://github.com/madalinaeleonorag"
    ><img class="social-icon" src="./../../../assets/social-icons/github.png"
  /></a>
</div>
