app-header {
  display: flex;
  height: 30px;
  flex-flow: row;
  background-color: var(--background);
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-top: -60px;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 99999;

  .menu-icon {
    display: none;
  }

  .title {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
    color: var(--white);
    margin: 0 10px;

    span {
      color: var(--primary);
    }
  }

  .title:hover {
    span {
      color: var(--white);
    }
  }

  .links {
    margin-right: auto;
  }

  .social-icons-wrapper {
    align-items: center;

    .border-btn {
      margin: 0 5px;
    }
  }

  a {
    margin: 0 10px !important;
  }

  @media (max-width: 800px) {
    .links {
      display: none;
    }
    .menu-icon {
      display: inline;
    }
    .title {
      margin: auto;
    }
  }

  @media (max-width: 800px) {
    .social-icons-wrapper {
      display: none;
    }
  }
}
