<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  #t="matMenuTrigger"
  class="menu-icon"
>
  <mat-icon *ngIf="!t.menuOpen" class="">menu</mat-icon>
  <mat-icon *ngIf="t.menuOpen" class="">close</mat-icon>
</button>

<div class="title" (click)="goToPage('/')"><span>Madalina</span>Eleonora</div>
<div class="links">
  <div
    (click)="goToPage('/')"
    [ngClass]="{ 'selected-page': isPageSelected('/') }"
  >
    Home
  </div>
  <div
    (click)="goToPage('skills')"
    [ngClass]="{ 'selected-page': isPageSelected('/skills') }"
  >
    Skills
  </div>
  <div
    (click)="goToPage('experience')"
    [ngClass]="{ 'selected-page': isPageSelected('/experience') }"
  >
    Experience
  </div>
</div>
<div class="social-icons-wrapper">
  <a target="_blank" href="https://madalinaeleonorag.medium.com/">
    <app-custom-svg type="medium"></app-custom-svg>
  </a>
  <a target="_blank" href="https://github.com/madalinaeleonorag">
    <app-custom-svg type="github"></app-custom-svg>
  </a>
  <app-custom-button
  buttonText="&#60;/Resume&#62;"
  [isFilledButton]="false"
  (click)="openCV()"
></app-custom-button>
  <app-custom-button
  buttonText="Contact"
    [isFilledButton]="true"
    [matMenuTriggerFor]="contactMenu"
    #t="matMenuTrigger"
  >
  </app-custom-button>
</div>

<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    (click)="goToPage('/')"
    [ngClass]="{ 'selected-page': isPageSelected('/') }"
  >
    Home
  </button>
  <button
    mat-menu-item
    (click)="goToPage('skills')"
    [ngClass]="{ 'selected-page': isPageSelected('/skills') }"
  >
    Skills
  </button>
  <button
    mat-menu-item
    (click)="goToPage('experience')"
    [ngClass]="{ 'selected-page': isPageSelected('/experience') }"
  >
    Experience
  </button>
  <app-custom-button
    buttonText="&#60;/Resume&#62;"
    [isFilledButton]="false"
    (click)="openCV()"
  ></app-custom-button>
  <app-contact></app-contact>
</mat-menu>

<mat-menu #contactMenu="matMenu">
  <app-contact></app-contact>
</mat-menu>
