<img class="menu-icon" [matMenuTriggerFor]="menu" src="assets/menu.png" />
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="goToPage('/')">Home</button>
  <button mat-menu-item (click)="goToPage('projects')">Projects</button>
  <button mat-menu-item (click)="goToPage('skills')">Skills</button>
  <button mat-menu-item (click)="goToPage('experience')">Experience</button>
  <button mat-menu-item (click)="goToPage('contact')">Contact</button>
</mat-menu>
<div class="title" (click)="goToPage('/')"><span>Madalina</span>Eleonora</div>
<div class="links">
  <div
    (click)="goToPage('/')"
    [ngClass]="{ 'selected-page': isPageSelected('/') }"
  >
    Home
  </div>
  <div
    (click)="goToPage('projects')"
    [ngClass]="{ 'selected-page': isPageSelected('/projects') }"
  >
    Projects
  </div>
  <div
    (click)="goToPage('skills')"
    [ngClass]="{ 'selected-page': isPageSelected('/skills') }"
  >
    Skills
  </div>
  <div
    (click)="goToPage('experience')"
    [ngClass]="{ 'selected-page': isPageSelected('/experience') }"
  >
    Experience
  </div>
  <div
    (click)="goToPage('contact')"
    [ngClass]="{ 'selected-page': isPageSelected('/contact') }"
  >
    Contact
  </div>
</div>
<div class="social-icons-wrapper">
  <a target="_blank" href="https://madalinaeleonorag.medium.com/">
    <app-custom-svg type="medium"></app-custom-svg>
  </a>

  <a target="_blank" href="https://github.com/madalinaeleonorag">
    <app-custom-svg type="github"></app-custom-svg>
  </a>
</div>
