@import "../../variables.scss";

app-header {
  display: flex;
  flex-flow: row;
  background-color: $black;
  align-items: center;
  justify-content: space-between;
  padding: 15px;

  .links {
    flex-flow: row;
    display: flex;

    .logo {
      width: auto;
      height: 25px;
      cursor: pointer;
    }

    div {
      margin: 0 10px;
      text-decoration: none;
      font-weight: bold;
      color: white !important;
      border-bottom: 2px solid $black;
    }
    div:hover {
      border-bottom: 2px solid $bordo;
      cursor: pointer;
    }
    .selected-page {
      border-bottom: 2px solid $bordo;
    }
  }

  a {
    margin: 0 10px !important;
  }
}
