@import "../../variables.scss";

app-header {
  display: flex;
  height: 30px;
  flex-flow: row;
  background-color: $black;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-top: -60px;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 99999;

  .menu-icon {
    display: none;
  }

  .title {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
    color: $white;
    margin: 0 10px;

    span {
      color: $bordo;
    }
  }

  .title:hover {
    span {
      color: $white;
    }
  }

  .links {
    flex-flow: row;
    display: flex;
    margin-right: auto;

    div {
      margin: 0 10px;
      text-decoration: none;
      font-weight: bold;
      color: white !important;
    }
    div:hover {
      color: $bordo !important;
      cursor: pointer;
    }
    .selected-page {
      color: $bordo !important;
    }
  }

  a {
    margin: 0 10px !important;
  }

  @media (max-width: 800px) {
    .links {
      display: none;
    }
    .menu-icon {
      display: inline;
    }
    .title {
      margin: auto;
    }
  }

  @media (max-width: 800px) {
    .social-icons-wrapper {
      display: none;
    }
  }
}
