@import "../../variables.scss";

app-contact {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 20px;

  .text {
    color: $gray;
    padding: 10px 0;
    font-weight: bold;
  }

  .info-text {
    color: $bordo;
    padding: 10px 0px;
    font-weight: bold;
    font-size: x-large;
  }

  .copyright {
    color: $gray;
    padding: 10px 0px;
    font-size: small;
  }

  .copyright:hover {
    color: $bordo;
  }

  .social-icons-wrapper {
    flex-flow: wrap;
    place-content: center;

    a .social-icon {
      height: 10vh;
    }
  }
}
