@import "../../variables.scss";

app-contact {
  display: flex;
  flex-flow: column;
  align-items: center;

  .text {
    padding: 15px 0;
    font-weight: bold;
  }

  .info-text {
    color: $primary;
    padding: 10px 0px;
    font-weight: bold;
    font-size: x-large;
  }

  .copyright {
    color: $gray;
    padding: 10px 0px;
    font-size: small;
  }

  .copyright:hover {
    color: $primary;
  }
}
