<div class="info-text">Let's be internet BFFs</div>
<div class="text">Contact me via email at</div>
<a href="mailto:madalinaeleonora.gheorghe@gmail.com">
  madalinaeleonora.gheorghe@gmail.com
</a>
<div class="text">or on social media</div>
<div class="social-icons-wrapper">
  <a target="_blank" href="mailto:madalinaeleonora.gheorghe@gmail.com"
    ><app-custom-svg type="email"></app-custom-svg>
  </a>
  <a target="_blank" href="https://www.linkedin.com/in/madalinaeleonorag/"
    ><app-custom-svg type="linkedin"></app-custom-svg
  ></a>
  <a target="_blank" href="https://madalinaeleonorag.medium.com/"
    ><app-custom-svg type="medium"></app-custom-svg
  ></a>
  <a target="_blank" href="https://github.com/madalinaeleonorag"
    ><app-custom-svg type="github"></app-custom-svg
  ></a>
  <a target="_blank" href="https://www.instagram.com/madalinaeleonorag/"
    ><app-custom-svg type="instagram"></app-custom-svg
  ></a>
  <a target="_blank" href="https://www.facebook.com/mdx.madalinaeleonora/"
    ><app-custom-svg type="facebook"></app-custom-svg
  ></a>
  <a target="_blank" href="https://www.paypal.com/paypalme/madalinaeleonorag"
    ><app-custom-svg type="paypal"></app-custom-svg
  ></a>
</div>
<div class="copyright">© Madalina-Eleonora Gheorghe</div>
