<div class="info-text">Let's be internet BFFs</div>
<div class="text">Contact me via email at</div>
<a href="mailto:madalinaeleonora.gheorghe@gmail.com">
  madalinaeleonora.gheorghe@gmail.com
</a>
<div class="text">or on social media</div>
<div class="social-icons-wrapper">
  <a target="_blank" href="mailto:madalinaeleonora.gheorghe@gmail.com"
    ><img class="social-icon" src="./../../../assets/social-icons/email.png"
  /></a>
  <a target="_blank" href="https://www.linkedin.com/in/madalinaeleonorag/"
    ><img class="social-icon" src="./../../../assets/social-icons/linkedin.png"
  /></a>
  <a target="_blank" href="https://madalinaeleonorag.medium.com/"
    ><img
      class="social-icon"
      src="./../../../assets/social-icons/medium-black.png"
  /></a>
  <a target="_blank" href="https://github.com/madalinaeleonorag"
    ><img
      class="social-icon"
      src="./../../../assets/social-icons/github-black.svg"
  /></a>
  <a target="_blank" href="https://www.instagram.com/madalinaeleonorag/"
    ><img
      class="social-icon"
      src="./../../../assets/social-icons/instagram.png"
  /></a>
  <a target="_blank" href="https://www.facebook.com/mdx.madalinaeleonora/"
    ><img class="social-icon" src="./../../../assets/social-icons/facebook.png"
  /></a>
  <a target="_blank" href="https://www.viewbug.com/member/madalinaeleonorag"
    ><img
      class="social-icon"
      src="./../../../assets/social-icons/viewbug.png"
  /></a>
  <a target="_blank" href="https://www.paypal.com/paypalme/madalinaeleonorag"
    ><img class="social-icon" src="./../../../assets/social-icons/paypal.png"
  /></a>
</div>
<div class="copyright">© Madalina-Eleonora Gheorghe</div>
