@import "../../variables.scss";

app-skill-card {
  // background-color: $white;
  display: flex;
  flex-flow: column;
  text-align: center;
  margin: 10px;
  padding: 15px;
  width: 110px;
  // box-shadow: 0px 0px 3px -1px $lightgray;

  .logo {
    img {
      height: 50px;
      width: auto;
    }
  }

  .name {
    padding: 5px;
    font-weight: bold;
    color: $black;
  }

  .progress {
    width: 100%;
    display: flex;
    flex-flow: column;

    .level-legend {
      opacity: 0.5;
      font-size: small;
      padding: 5px;
    }
  }
}
