@import "../../variables.scss";

app-skills {
  display: flex;
  flex-flow: column;

  .category {
    margin: 10px;

    .category-name {
      font-weight: bold;
      padding: 10px;
      font-size: medium;
      text-align: -webkit-center;
    }

    .category-items {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
    }
  }
}
