@import "../../variables.scss";

app-skills {
  display: flex;
  flex-flow: column;

  .category {

    .category-name {
      font-weight: bold;
      padding: 5vh 0;
      font-size: medium;
      font-size: 1.5rem;
      text-align: -webkit-center;
    }

    .category-items {
      display: flex;
      flex-flow: wrap;
      justify-content: center;

      &.courses {
        display: flex;
        flex-flow: column;
        margin: 0 10%;

        .course {
          display: flex;
          align-items: center;
          padding: 10px;

          .image-course {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }

          .course-detail {
            padding-left: 10px;
          }
        }
      }

      .name {
        font-weight: bold;
        color:white;
      }
    }
  }

  @media (max-width: 850px) {
    .category {
      .category-name {
        font-size: 1rem;
        padding: 3vh 0;
      }
    }
  }
}
