<div class="category">
  <div class="category-name">Skills</div>
  <div class="category-items">
    <app-skill-card
      [item]="skill"
      *ngFor="let skill of skills"
    ></app-skill-card>
  </div>
</div>

<div class="category">
  <div class="category-name">Certifications</div>
  <div class="category-items">
    <app-info-card
      [item]="certification"
      *ngFor="let certification of certifications"
    ></app-info-card>
  </div>
</div>

<div class="category">
  <div class="category-name">Courses</div>

  <div class="category-items courses">
    <div *ngFor="let course of courses" class="course">
      <div
        class="image-course"
        [ngStyle]="{
          background: 'url(' + course['logo'] + ')',
          'background-position': 'center',
          'background-size': 'cover'
        }"
      ></div>
      <div class="course-detail">
        {{ course.name }} by {{ course.organization }}
      </div>
    </div>
  </div>
</div>
