

app-custom-card {
  flex: 1 0 30%;
  margin: 15px;
  display: flex;
  box-shadow: 0px 0px 9px -6px var(--primary);

  .mat-card {
    box-shadow: 0px 0px 3px -1px var(--lightgray) !important;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    width: 100%;
    border-radius: unset;
    padding: unset;
  }

  .mat-card-actions {
    margin: 0 !important;
  }

  .image {
    height: 25vh;
    background-size: cover;
    background-position: center;
  }

  .technologies {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  .mat-card:hover {
    .technologies {
      span {
        color: var(--primary);
      }
    }
  }

  .mat-card-content {
    margin-top: auto;
  }

  .mat-card-actions {
    display: flex;
    justify-content: space-between;
  }

  .mat-card-header-text {
    text-align: -webkit-center;
  }

  .mat-card-header {
    place-content: center;
  }

  .mat-card-header .mat-card-title {
    padding: 12px 0;
    margin: 0;
  }
}

@media (max-width: 850px) {
  app-custom-card {
    flex: unset;
    width: -webkit-fill-available;

    .mat-card-subtitle {
      display:none;
    }

    .mat-card-content {
      margin-bottom: 10px;
    }
  }
}
