app-awards {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2vh 2vw;
  text-align: -webkit-center;

  app-custom-svg .icon {
    width: auto;
    height: 10vh;
  }

  .name {
    font-size: 1.2rem;
    color: var(--primary);
    margin: 10px 0;
    font-weight: bold;
  }

  .date {
    color: var(--lightgray);
  }
}
