@import "../../variables.scss";

app-awards .award-wrapper {
  padding: 30px;

  .header {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-bottom: 20px;
    justify-content: center;
    text-align: center;

    .summary {
      display: flex;
      flex-flow: column;

      img {
        height: 15vh;
      }

      .name {
        font-weight: bold;
        font-size: 1.5rem;
        color: $bordo;
        margin: 10px 0;
      }

      .date {
        font-weight: bold;
        color: $lightgray;
      }
    }
  }

  .description {
    line-height: 1.5rem;
  }

  @media (max-width: 750px) {
    .header {
      flex-flow: wrap;
    }
    .description {
      padding: 0 5vw;
    }
  }
}
