@import "../../variables.scss";

app-project-details {
  display: flex;
  flex-flow: column;

  .image {
    height: 50vh;
    background-size: cover;
    background-position: center;
  }

  .summary {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 15px 10%;

    .name {
      font-weight: bold;
      font-size: 2rem;
      margin: 4px 0;
    }
    .date {
      padding-top: 5px;
      color: $lightgray;
      font-weight: normal;
    }

    .actions-buttons {
      display: flex;
      flex-flow: row;
      width: 50vw;
      margin: 2vh 0;
    }

    .technologies {
      display: flex;
      flex-flow: wrap;
      place-content: center;

      .mat-chip-list-wrapper {
        justify-content: center;
      }
    }
  }

  .description {
    margin: 10px 40px 30px;
    padding: 10px;
    line-height: 1.5rem;
  }

  .plain-container {
    justify-content: center !important;
    margin: 20px 40px 40px;
    display: flex !important;
    flex-flow: wrap;

    .image {
      margin: 5px !important;
      height: 200px !important;
      width: auto !important;
      box-shadow: 0 0 10px -3px $lightgray;
    }
  }

  #current-image {
    height: 70vh !important;
    max-height: unset !important;
  }

  @media (max-width: 800px) {
    .summary {
      margin: 15px;
      text-align: center;

      .technologies {
        margin: 10px 0;
        justify-content: center;
      }
    }
    .description {
      margin: 10px;
    }
    .plain-container {
      margin: 5px 20px 20px;
      
      .image {
        width: auto !important;
        height: 60px !important;
      }
    }

    #current-image {
      height: unset !important;
    }
  }
}
