<div
  [ngStyle]="{ 'background-image': 'url(' + project.logo + ')' }"
  class="image"
></div>
<div class="summary">
  <div class="name">{{ project.name }}</div>
  <a href="{{ project.code }}" target="_blank" *ngIf="project.code"
    >&#60;/ See code &#62;</a
  >
  <div class="date">
    {{ project.startDate
    }}<span *ngIf="project.endDate"> - {{ project.endDate }}</span>
  </div>
  <div class="technologies" *ngIf="project.technologies.length > 0">
    <app-custom-chip *ngFor="let technology of project.technologies" [text]="technology"></app-custom-chip>
  </div>
  <app-custom-button buttonText="See live" [isFilledButton]="false" *ngIf="project.live" (click)="openNewTab()"></app-custom-button>
</div>
<div class="description" [innerHTML]="project.description"></div>

<ks-modal-gallery
  [id]="6"
  [modalImages]="images"
  [slideConfig]="{ infinite: true, sidePreviews: { show: false } }"
></ks-modal-gallery>
