<mat-tab-group>
  <mat-tab label="Last work experience">
    <ng-template matTabContent>
      <app-experience-job [job]="EXPERIENCE[0]"></app-experience-job>
    </ng-template>
  </mat-tab>

  <mat-tab label="Other work experiences">
    <ng-template matTabContent>
      <div *ngFor="let item of otherExperiences">
        <app-experience-job [job]="item"></app-experience-job>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Education">
    <ng-template matTabContent>
      <div *ngFor="let item of EDUCATION">
        <app-education-level [education]="item"></app-education-level>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Honors & Awards">
    <ng-template matTabContent>
      <div *ngFor="let item of AWARDS">
        <app-awards [award]="item"></app-awards>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Publications">
    <ng-template matTabContent>
      <div *ngFor="let item of PUBLICATIONS">
        <app-publications [publication]="item"></app-publications>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Volunteer">
    <ng-template matTabContent>
      <div *ngFor="let item of VOLUNTEER">
        <app-volunteer [volunteer]="item"></app-volunteer>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
