

app-experience {

  .title-category {
    margin: 5vh;
    text-align-last: center;
    font-size: 1.5rem;
    color: var(--white);
  }

  .other-work-experiences {
    display: flex;
    flex-flow: column;

    app-experience-card {
      padding: 1vh 0;
    }
  }
}

@media (max-width: 800px) {
  app-experience {
    .title-category {
      font-size: 1.2rem;
      margin: 3vh;
    }
    .other-work-experiences {
      app-experience-card {
        flex: 0 0 100%;
      }
    }
  }
}
