<div class="header">
  <div class="image"><img *ngIf="job.companyLogo" src="{{ job.companyLogo }}" /></div>
  <div class="summary">
    <div class="name">{{ job.companyName }}</div>
    <div class="role">{{ job.role }}</div>
    <div class="date">{{ job.dateStart }} - {{ job.dateEnd }}</div>
    <div class="location" *ngIf="job.location">{{ job.location }}</div>
    <mat-chip-list class="skills" *ngIf="job.skill.length > 0">
      <mat-chip *ngFor="let skill of job.skill">{{ skill }}</mat-chip>
    </mat-chip-list>
  </div>
</div>
<div class="description" [innerHTML]="job.description" *ngIf="parentPage !== 'homepage'"></div>
