<div class="popular-articles">
  <header class="popular-header header-card white-underline-links">
    <h2 class="header-card-title">Latest articles</h2>
    <app-custom-button
      buttonText="See more articles on Medium"
      isFilledButton="true"
      (click)="openMedium()"
    ></app-custom-button>
  </header>
  <div class="mini-card-grid">
    <article
      *ngFor="let publication of publications"
      class="mini-card module module-article article"
      [ngStyle]="{
        background: 'url(' + publication.thumbnail + ')',
        'background-position': 'center',
        'background-size': 'cover'
      }"
    >
      <header class="mini-article-card-header">
        <div class="mini-article-card-title">
          <div class="mini-article-subhead">
            <time datetime="{{publication.pubDate}}">{{ getData(publication.pubDate) }}</time>
          </div>
          <h2 class="">
            <a
              [href]="publication.link"
              class="article-card-header read-article"
            >
             {{ publication.title }}
            </a>
          </h2>
        </div>
      </header>
    </article>
  </div>
</div>
