app-experience-card {
  mat-tab-group[vertical] .mat-tab-labels {
    display: flex;
    flex-direction: column !important;
  }

  mat-tab-group[vertical] {
    display: flex;
    flex-direction: row !important;
  }

  .mat-tab-body {
    border-left: solid 1px var(--primary);
    padding-left: 2vw;
  }

  mat-ink-bar {
    display: none;
  }
  
  .mat-tab-label {
    align-items: flex-start;
    color: var(--lightgray);
    opacity: 1;
  }

  .mat-tab-label-active {
    color: var(--primary);
  }

  .summary {
    display: flex;
    flex-flow: column;
    line-height: 1.5rem;

    .role {
      font-weight: bold;
      font-size: 1.2rem;

      .name {
        font-weight: bold;
        color: var(--primary);
      }
    }
    .date {
      font-weight: normal;
      color: var(--lightgray);
    }

    .location {
      color: var(--lightgray);
    }
  }

  .description {
    color: var(--lightgray);
    line-height: 1.5rem;
    padding-top:1.5vh;

    li::marker {
      color: var(--primary);
    }
  }
}
