<div class="header">
  <div class="image">
    <img
      *ngIf="experience.companyLogo || experience.logo"
      src="{{
        experience.companyLogo ? experience.companyLogo : experience.logo
      }}"
    />
  </div>
  <div class="summary">
    <div class="name">
      {{
        experience.companyName
          ? experience.companyName
          : experience.organization
      }}
    </div>
    <div class="role">{{ experience.role }}</div>
    <div class="date">
      {{ experience.dateStart ? experience.dateStart : experience.startYear }} -
      {{ experience.dateEnd ? experience.dateEnd : experience.endYear }}
    </div>
    <button (click)="openDialog('experience', experience)">See details</button>
  </div>
</div>
