<mat-tab-group vertical>
  <mat-tab *ngFor="let experience of data">
    <ng-template mat-tab-label>
      <span>{{ experience.companyName }}</span>
      <img [src]="experience.companyLogo" alt="company logo">
  </ng-template>
    <div class="summary">
      <div class="role">
        {{ experience.role }}
        <span class="name">
          @
          {{
            experience.companyName
              ? experience.companyName
              : experience.organization
          }}
        </span>
      </div>
      <div class="technologies">
        <app-custom-chip
          *ngFor="let skill of experience.skill"
          [text]="skill"
        ></app-custom-chip>
      </div>
      <div class="date">
        {{ experience.dateStart ? experience.dateStart : experience.startYear }}
        -
        {{ experience.dateEnd ? experience.dateEnd : experience.endYear }}
      </div>
      <div class="location" *ngIf="experience.location">
        {{ experience.location }}
      </div>
    </div>
    <div class="description" [innerHTML]="experience.description"></div>
    <div class="see-more">
      <app-custom-button
        buttonText="See more in my CV"
        (click)="openCV()"
      ></app-custom-button>
    </div>
  </mat-tab>
</mat-tab-group>
