<div class="header">
  <div class="image">
    <img
      *ngIf="experience.companyLogo || experience.logo"
      src="{{
        experience.companyLogo ? experience.companyLogo : experience.logo
      }}"
    />
  </div>
  <div class="summary">
    <div class="name">
      {{
        experience.companyName
          ? experience.companyName
          : experience.organization
      }}
    </div>
    <div class="role">{{ experience.role }}</div>
    <div class="date">
      {{ experience.dateStart ? experience.dateStart : experience.startYear }} -
      {{ experience.dateEnd ? experience.dateEnd : experience.endYear }}
    </div>
    <div class="location" *ngIf="experience.location">
      {{ experience.location }}
    </div>
    <mat-chip-list
      class="skills"
      *ngIf="experience.skill && experience.skill.length > 0"
    >
      <mat-chip *ngFor="let skill of experience.skill">{{ skill }}</mat-chip>
    </mat-chip-list>
  </div>
</div>
<div
  class="description"
  [innerHTML]="experience.description"
  *ngIf="parentPage !== 'homepage'"
></div>
