app-experience-card {
  mat-tab-group[vertical] .mat-tab-labels {
    display: flex;
    flex-direction: column !important;
  }

  mat-tab-group[vertical] {
    display: flex;
    flex-direction: row !important;
  }

  mat-ink-bar {
    display: none;
  }
  
  .mat-tab-label {
    align-items: flex-start;
    color: var(--darkPrimary);
  }

  .mat-tab-label-active {
    color: var(--primary);
  }

  .summary {
    display: flex;
    flex-flow: column;

    .role {
      font-weight: bold;
      font-size: 1.2rem;

      .name {
        font-weight: bold;
        color: var(--primary);
      }
    }
    .date {
      font-weight: normal;
      color: var(--lightgray);
      padding-top: 1vh;
    }
    
    .location {
      color: var(--lightgray);
    }
  }

  .skills {
    display: flex;
    flex-flow: wrap;
    margin: 10px 0;
  }

  .description {
    line-height: 1.5rem;
  }
}
