<div class="description-homepage">
  I am an application developer open for collaborations, passionate about
  digital graphics and photography, eager to learn and evolve in the Front-End
  field. During the last years, i focused both on my technical and soft skills,
  working with people around the globe and learning how to deliver their
  expectations.
</div>
<div class="title-category">Last projects</div>
<div class="projects">
  <app-project-card
    [project]="project"
    *ngFor="let project of projects"
  ></app-project-card>
</div>
<div class="see-more">
    <app-custom-button buttonText="&#60;/See more projects&#62;" [isFilledButton]="true" (click)="goToPage('/projects')"></app-custom-button>
</div>
<div class="title-category" *ngIf="publications.length > 0">Latest publications</div>
<div class="publications" *ngIf="publications.length > 0">
  <app-publications
    *ngFor="let publication of publications"
    [publication]="publication"
  ></app-publications>
</div>
