@import "../../variables.scss";

app-homepage {
  .logo {
    text-align-last: center;
    padding: 20px;

    img {
      width: auto;
      height: 25vh;
    }
  }

  .description-homepage {
    text-align: center;
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 20px 10vw;
  }

  .carousel {
    height: 50% !important;
    margin: 30px;
    width: auto;
  }

  .see-more {
    text-align-last: end;
    padding: 20px;

    a {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .projects {
    display: flex;
    margin: 10px;
    overflow: auto;
  }

  hr {
    margin: 20px;
  }

  .publications {
    display: flex;
    flex-flow: wrap;

    app-publications {
      flex: 0 0 25%;
    }
  }

  @media (max-width: 850px) {
    .publications {
      app-publications {
        flex: 0 0 50%;
      }
    }
  }
}