@import "../../variables.scss";

app-homepage {

  font-size: 1rem;

  .logo {
    text-align-last: center;
    padding: 20px;

    img {
      width: auto;
      height: 25vh;
    }
  }

  .homepage-title {
    line-height: 1.7rem;
    margin: 2vh 5vw 8vh 5vw;
    padding: 1vh 0 2vh 3vw;
    border-left: 1px solid $primary;

    .welcome-name {
      color: $primary;
      font-weight: 400;
      font-family: monospace;
    }

    .name {
      height: auto;
      padding: 10px 0;
      max-width: 80vw;
    }

    .welcome-subtitle {
      color: $primary;
      margin-top: 0;
      font-family: monospace;
    }

    .description {
      font-family: monospace;
      line-height: normal;
      font-size: unset;
    }
  }

  .see-more {
    width: fit-content;
    margin: auto;
    margin: 2vh auto;
  }

  .projects {
    display: flex;
    margin: 10px;
    overflow: auto;
    flex-flow: wrap;
    justify-content: center;
  }

  .mat-tab-header {
    border-bottom: none;
  }

  .mat-tab-labels {
    justify-content: center;
  }

  .mat-tab-label {
    opacity: 1;
    color: $white;
  }

  .publications {
    display: flex;
    justify-content: center;
    flex-flow: wrap;

    app-publications {
      flex: 0 0 30%;
    }
  }

  .plain-container {
    justify-content: center !important;
    margin: 20px 40px 40px;
    display: flex !important;
    flex-flow: wrap;

    .image {
      margin: 5px !important;
      height: 200px !important;
      width: auto !important;
      box-shadow: 0 0 10px -3px $lightgray;
    }
  }

  .title {
    margin: 2vh 5vh;
    text-align-last: center;
    font-size: 1.5rem;
    color: $white;
  }

  @media (max-width: 850px) {
    .description-homepage {
      margin: 3vh 5vw;

      .name {
        font-size: x-large;
      }
    }

    .title {
      font-size: 1rem;
    }

    .publications {
      app-publications {
        flex: 0 0 50%;

        .publication-wrapper {
          padding: 10px;

          .image {
            height: 125px;
            width: 125px;
          }

          .summary {
            .name {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }

  @media (max-width: 700px) {
    .plain-container {
      .image {
        height: auto !important;
        width: 100% !important;
      }
    }
  }
}
