<div class="logo">
  <img src="assets/LOGO-black.png" />
</div>
<div class="description-homepage">
  I am an application developer open for collaborations, passionate about
  digital graphics and photography, eager to learn and evolve in the Front-End
  field. During the last years, i focused both on my technical and soft skills,
  working with people around the globe and learning how to deliver their
  expectations.
</div>
<!-- <carousel [images]="images" [cellsToShow]="3" [borderRadius]="4" *ngIf="!isMobileView"> </carousel>
<carousel [images]="images" [cellsToShow]="1" [borderRadius]="4" *ngIf="isMobileView"> </carousel> -->
<hr />
<div class="title-category">Last job experience</div>
<app-experience-card
  [experience]="experience"
  parentPage="homepage"
></app-experience-card>
<div class="see-more">
  <a (click)="goToPage('/experience')">&#60;/See more job experiences&#62;</a>
</div>
<hr />
<div class="title-category">Last projects</div>
<div class="projects">
  <app-project-card
    [project]="project"
    *ngFor="let project of projects"
  ></app-project-card>
</div>
<div class="see-more">
  <a (click)="goToPage('/projects')">&#60;/See more projects&#62;</a>
</div>
<hr />
<div class="title-category">Last publications</div>
<div class="publications">
  <app-publications *ngFor="let publication of publications" [publication]="publication"></app-publications>
</div>
