<div class="logo">
  <img src="assets/LOGO-white.png" />
</div>
<div class="description-homepage">
  I am an application developer open for collaborations, passionate about
  digital graphics and photography, eager to learn and evolve in the Front-End
  field. During the last years, i focused both on my technical and soft skills,
  working with people around the globe and learning how to deliver their
  expectations.
</div>
<div class="selfies">
  <ks-modal-gallery
    [id]="6"
    [modalImages]="images"
    [slideConfig]="{ infinite: true, sidePreviews: { show: false } }"
  ></ks-modal-gallery>
</div>
<div class="title-category">Last projects</div>
<div class="projects">
  <app-project-card
    [project]="project"
    *ngFor="let project of projects"
  ></app-project-card>
</div>
<div class="see-more">
    <app-custom-button buttonText="&#60;/See more projects&#62;" [isFilledButton]="true" (click)="goToPage('/projects')"></app-custom-button>
</div>
<div class="title-category">Last job experience</div>
<div class="experience">
  <app-experience-card
    [experience]="experience"
    parentPage="homepage"
  ></app-experience-card>
</div>
<div class="see-more">
  <app-custom-button buttonText="&#60;/See more job experiences&#62;" [isFilledButton]="true" (click)="goToPage('/experience')"></app-custom-button>
</div>
<div class="title-category">Last publications</div>
<div class="publications">
  <app-publications
    *ngFor="let publication of publications"
    [publication]="publication"
  ></app-publications>
</div>
