@import "../../variables.scss";

app-homepage {
  .logo {
    text-align-last: center;
    padding: 20px;

    img {
      width: auto;
      height: 25vh;
    }
  }

  .description-homepage {
    text-align: center;
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 20px 10vw;
  }

  .selfies {
    height: 50% !important;
    margin: 30px;
    width: auto;
  }

  .see-more {
    width: fit-content;
    margin: auto;
  }

  .projects {
    display: flex;
    margin: 10px;
    overflow: auto;
    justify-content: center;
  }

  .experience {
    app-experience-card {
      .header {
        justify-content: center;
      }
    }
  }

  .publications {
    display: flex;
    justify-content: center;
    flex-flow: wrap;

    app-publications {
      flex: 0 0 25%;
    }
  }

  .plain-container {
    justify-content: center !important;
    margin: 20px 40px 40px;
    display: flex !important;
    flex-flow: wrap;

    .image {
      margin: 5px !important;
      height: 200px !important;
      width: auto !important;
      box-shadow: 0 0 10px -3px $lightgray;
    }
  }

  @media (max-width: 850px) {
    .description-homepage {
      margin: 3vh 5vw;
    }
    .publications {
      app-publications {
        flex: 0 0 50%;

        .publication-wrapper {
          padding: 10px;

          .image {
            height: 125px;
            width: 125px;
          }
        }
      }
    }
    .projects {
      justify-content: unset;
    }
  }

  @media (max-width: 700px) {
    .plain-container {
      .image {
        height: auto !important;
        width: 100% !important;
      }
    }
  }
}
