@import "./variables.scss";
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$project-primary: mat-palette($mat-indigo);
$project-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$project-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$project-theme: mat-light-theme(
  (
    color: (
      primary: $project-primary,
      accent: $project-accent,
      warn: $project-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($project-theme);

body {
  margin: 0;
  font-family: "Verdana", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: $white;
  background: $black;
  margin-top: 60px;
}

.component-wrapper {
  padding: 5vh 5vw;
}

@media (max-width: 850px) {
  .component-wrapper {
    padding: 5vw;
  }
}

.social-icons-wrapper {
  display: flex;
  flex-flow: row;

  a {
    margin: 0 10px;
  }
}

.menu-icon {
  background: transparent;
  color: white;
  border: none;
  font-size: 18px;
  padding-top: 6px;
}

.menu-icon:focus {
  outline: none;
}

mat-icon {
  font-family: "Material Icons";
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $primary;
}

a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: $primary;

  &:after {
    display: block;
    content: "";
    border-bottom: solid 1px $primary;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 0 100%;
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: 0 100%;
  }
}

.mat-chip.mat-standard-chip::after {
  background: transparent;
}

.mat-chip-list {
  .mat-chip {
    font-size: 0.7rem;
    border: 1px solid transparent;
    background: transparent;
    color: $primary;
    min-height: 20px;
    border-radius: unset;
    margin: 5px;
  }

  .mat-chip:hover {
    border: 1px solid $primary;
  }
}

.cdk-overlay-pane {
  left: 0 !important;
  top: 0 !important;
}

.mat-menu-panel {
  background: $black;
  width: 100vw;
  height: 100vh;
  max-height: unset !important;
  min-width: unset !important;
  max-width: unset !important;

  .mat-menu-content:not(:empty) {
    padding: 10%;
  }

  .mat-menu-content {
    background: transparent;
    margin-top: 60px;
    display: flex;
    flex-flow: column;
    height: -webkit-fill-available;
    justify-content: space-around;
    padding: 10%;

    .mat-menu-item {
      color: $white;
      width: 100%;
      height: 100%;
      padding: 20px;
    }

    app-contact {
      margin: 20px;
    }
  }
}

.selected-page {
  color: $primary !important;
}
