@import "./variables.scss";
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$project-primary: mat-palette($mat-indigo);
$project-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$project-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$project-theme: mat-light-theme(
  (
    color: (
      primary: $project-primary,
      accent: $project-accent,
      warn: $project-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($project-theme);

body {
  margin: 0;
  font-family: "Verdana", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.component-wrapper {
  color: var(--white);
  background: var(--background);
}

@media (max-width: 850px) {
  .component-wrapper {
    padding: 5vw;
  }
}

.social-icons-wrapper {
  display: flex;
  flex-flow: row;

  a {
    margin: 0 10px;
  }
}

.menu-icon {
  background: transparent;
  color: var(--white);
  border: none;
  font-size: 18px;
  padding-top: 6px;
}

.menu-icon:focus {
  outline: none;
}

mat-icon {
  font-family: "Material Icons";
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: var(--primary);
}

a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: var(--primary);

  &:after {
    display: block;
    content: "";
    border-bottom: solid 1px var(--primary);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 0 100%;
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: 0 100%;
  }
}

.mat-chip.mat-standard-chip::after {
  background: transparent;
}

.mat-chip-list {
  .mat-chip {
    font-size: 0.7rem;
    border: 1px solid transparent;
    background: transparent;
    color: var(--primary);
    min-height: 20px;
    border-radius: unset;
    margin: 5px;
  }

  .mat-chip:hover {
    border: 1px solid var(--primary);
  }
}

.cdk-overlay-pane {
  left: 0 !important;
  top: 0 !important;
}

.mat-menu-panel {
  background: var(--black);
  width: 100vw;
  height: 100vh;
  max-height: unset !important;
  min-width: unset !important;
  max-width: unset !important;

  .mat-menu-content:not(:empty) {
    padding: 10%;
  }

  .mat-menu-content {
    background: transparent;
    margin-top: 60px;
    display: flex;
    flex-flow: column;
    height: -webkit-fill-available;
    justify-content: space-around;
    padding: 10%;

    .mat-menu-item {
      color: var(--white);
      width: 100%;
      height: 100%;
      padding: 20px;
    }

    app-contact {
      margin: 20px;
    }
  }
}

.selected-page {
  color: var(--primary) !important;
}

.logo {
  text-align-last: center;
  padding: 20px;

  img {
    width: auto;
    height: 25vh;
  }
}

.homepage-title {
  line-height: 1.7rem;
  padding: 0 20vw 0vh 20vw;
  background: url(../assets/header.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;

  .welcome-name {
    color: var(--primary);
    font-weight: 400;
    font-family: monospace;
  }

  .name {
    height: auto;
    color: var(--white);
    padding: 10px 0;
    font-size: 3rem;
  }

  .welcome-subtitle {
    color: var(--primary);
    margin-top: 0;
    font-family: monospace;
  }

  .description {
    font-family: monospace;
    line-height: normal;
    font-size: unset;
  }
}

.see-more {
  width: fit-content;
  margin: auto;
  margin: 2vh auto;
}

.projects {
  display: flex;
  margin: 10px;
  overflow: auto;
  flex-flow: wrap;
  justify-content: center;
}

.mat-tab-header {
  border-bottom: none;
}

.mat-tab-labels {
  justify-content: center;
}

.mat-tab-label {
  opacity: 1;
  color: var(--white);
}

.publications {
  display: flex;
  justify-content: center;
  flex-flow: wrap;

  app-publications {
    flex: 1 0 30%;
  }
}

.title {
  margin: 2vh 5vh;
  text-align-last: center;
  font-size: 1.5rem;
  color: var(--white);
}

@media (max-width: 850px) {
  .description-homepage {
    margin: 3vh 5vw;

    .name {
      font-size: x-large;
    }
  }

  .title {
    font-size: 1rem;
  }

  .publications {
    app-publications {
      flex: 0 0 50%;

      .publication-wrapper {
        padding: 10px;

        .image {
          height: 125px;
          width: 125px;
        }

        .summary {
          .name {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

.category {
  padding: 5vh 5vw;

  .category-name {
    font-weight: bold;
    padding: 5vh 0;
    font-size: medium;
    font-size: 1.5rem;
    text-align: -webkit-center;
  }

  .category-items {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    &.courses {
      display: flex;
      flex-flow: column;
      margin: 0 10%;

      .course {
        display: flex;
        align-items: center;
        padding: 10px;

        .image-course {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        .course-detail {
          padding-left: 10px;
        }
      }
    }

    .name {
      color: var(--white);
    }
  }
}

@media (max-width: 850px) {
  .category {
    .category-name {
      font-size: 1rem;
      padding: 3vh 0;
    }
  }
}

.title-category {
  margin: 5vh;
  text-align-last: center;
  font-size: 1.5rem;
  color: var(--white);
}

.other-work-experiences {
  display: flex;
  flex-flow: column;

  app-experience-card {
    padding: 1vh 0;
  }
}

@media (max-width: 800px) {
  .title-category {
    font-size: 1.2rem;
    margin: 3vh;
  }
  .other-work-experiences {
    app-experience-card {
      flex: 0 0 100%;
    }
  }
}
