:root {
  --black: #2a2529;
  --darkPrimary: #621111;
  --lightgray: #fcdede;
  --white: #fff;
  --primary: #d02929;
  --background: #2a2529;
  --background-transparent: rgba(42, 37, 41, 0.95);
  --background-transparent-2: rgb(42, 37, 41, 0.6);
}
