@import "../../variables.scss";

app-custom-chip {
  display: inline-block;
  position: relative;
  text-align: center;
  color: $primary;
  margin: 2px;

  .chip__inner {
    border: 1px solid transparent;
    padding: 5px;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
  }

  .chip__inner:hover {
    border: 1px solid $primaryopacity;
    cursor: default;
  }

  @media (max-width: 850px) {
    .chip__inner {
      padding: 4px;
      font-size: 8px;
    }
  }
}
