@import "../../variables.scss";

app-publications .publication-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
  text-align: center;

  .image {
    height: 150px;
    width: 150px;
  }

  .summary {
    display: flex;
    padding-top: 10px;
    flex-flow: column;

    .organization {
      font-weight: bold;
      color: $gray;
    }
    .name {
      font-weight: bold;
      font-size: 1.2rem;
      color: $bordo;
      padding: 10px 0;
    }
    .date {
      font-weight: bold;
      color: $lightgray;
      padding-bottom: 5px;
    }
  }
}

.description {
  padding: 0 20px 20px;
  line-height: 1.5rem;
}

@media (max-width: 750px) {
  .header {
    flex-flow: wrap;
  }
}
