@import "../../variables.scss";

app-publications .publication-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
  text-align: center;

  .image {
    height: 150px;
    width: 150px;
  }

  .summary {
    display: flex;
    padding-top: 10px;
    flex-flow: column;

    .name {
      font-weight: bold;
      font-size: 1rem;
      padding: 10px 0;
    }
  }
}

@media (max-width: 750px) {
  .header {
    flex-flow: wrap;
  }
}
