<div class="publication-wrapper">
  <div
    class="image"
    *ngIf="publication.logo"
    [ngStyle]="{
      background: 'url(' + publication.logo + ')',
      'background-position': 'center',
      'background-size': 'cover'
    }"
  ></div>
  <div class="summary">
    <div class="organization" *ngIf="publication.organization">
      {{ publication.organization }}
    </div>
    <div class="name">{{ publication.name }}</div>
    <div class="date" *ngIf="publication.date">{{ publication.date }}</div>
    <div class="grade" *ngIf="publication.url">
      <a href="{{ publication.url }}" target="_blank">See publication</a>
    </div>
  </div>
</div>
