<h1 mat-dialog-title>
  <div *ngIf="data.type === 'experience'">
    {{ data.data.companyName }} (
        <span *ngIf="data.data.location">{{ data.data.location}}</span>, 
        <span *ngIf="data.data.dateStart">{{ data.data.dateStart}}</span> -
        <span *ngIf="data.data.dateEnd">{{ data.data.dateEnd}}</span>)
  </div>
</h1>
<div mat-dialog-content>
  <div *ngIf="data.type === 'experience'">
    <div class="skills" *ngIf="data.data.skill && data.data.skill.length > 0">
      <div [innerHTML]="data.data.description"></div>
    </div>
  </div>
</div>
