@import "../../variables.scss";

app-projects {
  display: flex;
  flex-flow: column;
  justify-content: center;

  .projects-cards {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }

  .filters {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    .button {
      margin: 5px;
    }
  }
}
