@import "../../variables.scss";

app-projects {
  display: flex;
  flex-flow: column;
  justify-content: center;

  .projects-cards {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }

  .filters {
    .mat-chip-list-wrapper {
      justify-content: center;
      margin: 25px 10vw;

      .selected-chip {
        border: 1px solid $bordo !important;
      }
    }

    .mat-chip:hover {
      background-color: #a50c0c2b !important;
    }
  }
}
