<div class="filters">
  <app-custom-category-button
    (click)="selectTechnology('all')"
    text="All technologies"
    [isSelected]="isSelected()"
  >
  </app-custom-category-button>
  <app-custom-category-button
    *ngFor="let technology of uniqueTechnologies"
    (click)="selectTechnology(technology)"
    [text]="technology"
    [isSelected]="isSelected(technology)"
  >
  </app-custom-category-button>
</div>

<div class="projects-cards">
  <app-project-card
    [project]="item"
    *ngFor="let item of filteredData()"
  ></app-project-card>
</div>
