<mat-card>
  <div [ngStyle]="{'background-image': 'url(' + project.logo + ')'}" class="image">
  </div>
  <mat-card-header>
    <mat-card-title>{{ project.name }}</mat-card-title>
    <mat-card-subtitle>
      <a href="{{ project.code }}" target="_blank" *ngIf="project.code">&#60;/ See code &#62;</a>
    </mat-card-subtitle>
      <mat-card-subtitle>
      {{ project.startDate }}
      <span *ngIf="project.endDate && project.startDate != project.endDate">
        - {{ project.endDate }}</span
      ></mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <mat-chip-list class="technologies" *ngIf="project.technologies.length > 0">
      <mat-chip *ngFor="let technology of project.technologies">{{
        technology
      }}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="project.live" (click)="openNewTab()" class="text-button">
      See live
    </button>
    <button (click)="seeDetails()" class="fill-button">See details</button>
  </mat-card-actions>
</mat-card>
