@import "../../variables.scss";

app-project-card {
  flex: 0 0 30%;
  margin: 15px;
  display: flex;

  .mat-card {
    box-shadow: 0px 0px 3px -1px $lightgray !important;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    width: 100%;
    border-radius: unset;
    padding: unset;
  }

  .mat-card-actions {
    margin: 0 !important;
  }

  .image {
    height: 25vh;
    background-size: cover;
    background-position: center;
  }

  .technologies {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  .mat-card:hover {
    .technologies {
      span {
        color: $primary;
      }
    }
  }

  .mat-card-content {
    margin-top: auto;
  }

  .mat-card-actions {
    display: flex;
    justify-content: space-between;
  }

  .mat-card-header-text {
    text-align: -webkit-center;
  }

  .mat-card-header {
    place-content: center;
  }

  .mat-card-header .mat-card-title {
    padding: 12px 0;
    margin: 0;
  }
}

@media (max-width: 900px) {
  app-project-card {
    flex: 0 0 40%;
  }
}

@media (max-width: 500px) {
  app-project-card {
    flex: 0 0 80%;
  }
}
