@import "../../variables.scss";

app-project-card {
  flex: 0 0 20%;
  margin: 15px;
  display: flex;

  .mat-card {
    box-shadow: 0px 0px 3px -1px $lightgray !important;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    width: 100%;
    border-radius: unset;
    padding: unset;
  }

  .mat-card-actions {
    margin: 0 !important;
  }

  .image {
    height: 25vh;
    background-size: cover;
    background-position: center;
  }

  .technologies {
    display: flex;

    &.mat-chip-list {
      place-content: center;

      .mat-chip-list-wrapper {
        justify-content: center;

        .mat-chip {
          font-size: 0.7rem;
          background-color: $white;
          color: $bordo;
          min-height: 20px;
          border-radius: unset;
          margin: 2px;
        }
      }
    }
  }

  .mat-card-content {
    margin-top: auto;
  }

  .mat-card-actions {
    display: flex;
    justify-content: space-between;
  }

  .mat-card-header-text {
    text-align: -webkit-center;
  }

  .mat-card-header {
    place-content: center;
  }

  button {
    border: none;
    padding: 6px;
    width: 100%;
    cursor: pointer;
  }

  .fill-button {
    background-color: $bordo;
    color: $white;
    border: 1px solid $bordo;
  }

  .fill-button:hover {
    background-color: $white;
    color: $bordo;
  }

  .text-button {
    border: 1px solid $bordo;
    background-color: $white;
    color: $bordo;
  }

  .mat-card-header .mat-card-title {
    padding: 12px 0;
    margin: 0;
  }
}

@media (max-width: 800px) {
  app-project-card {
    flex: 1 0 50%;
  }
}
