<mat-card>
  <div [ngStyle]="{'background-image': 'url(' + project.logo + ')'}" class="image">
  </div>
  <mat-card-header>
    <mat-card-title>{{ project.name }}</mat-card-title>
      <mat-card-subtitle>
      {{ project.startDate }}
      <span *ngIf="project.endDate && project.startDate != project.endDate">
        - {{ project.endDate }}</span
      ></mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <div class="technologies" *ngIf="project.technologies.length > 0">
      <app-custom-chip *ngFor="let technology of project.technologies" [text]="technology"></app-custom-chip>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <app-custom-button buttonText="&#60;/Code&#62;" [isFilledButton]="false" *ngIf="project.code" (click)="openNewTab('code')"></app-custom-button>
    <app-custom-button buttonText="Demo" [isFilledButton]="false" *ngIf="project.live" (click)="openNewTab('live')"></app-custom-button>
    <app-custom-button buttonText="See details" [isFilledButton]="true" (click)="seeDetails()">
    </app-custom-button>
  </mat-card-actions>
</mat-card>
