@import "./app/variables.scss";

.social-icons-wrapper {
  display: flex;
  flex-flow: row;

  a {
    margin: 0 10px;

    .social-icon {
      height: 25px;
      width: auto;
    }
  }
}

.title-category {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 20px;
  text-align: -webkit-center;
}

.menu-icon {
  height: 25px;
  width: auto;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $bordo;
}

a {
  color: $bordo;
}

a:hover {
  color: $black;
}

.body {
  margin-top: 60px;
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-position: center;
}

.mat-chip.mat-standard-chip::after {
  background: transparent;
}

.mat-chip-list {
  .mat-chip {
    font-size: 0.7rem;
    border: 1px solid transparent;
    background: transparent;
    color: $bordo;
    min-height: 20px;
    border-radius: unset;
    margin: 5px;
  }

  .mat-chip:hover {
    border: 1px solid $bordo;
  }
}