@import "./app/variables.scss";

.social-icons-wrapper {
  display: flex;
  flex-flow: row;

  a {
    margin: 0 10px;

    .social-icon {
      height: 25px;
      width: auto;
    }
  }
}

.menu-icon {
  height: 25px;
  width: auto;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $bordo;
}

a {
  color: $bordo;
}

a:hover {
  color: $black;
}